# Build
bin/
obj/
out/
dist/
build/

# Visual Studio
.vs/
*.user
*.suo
*.userprefs

# Logs
*.log
logs/

# Environment
.env
.env.*

# Node
node_modules/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
